<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wsxiot.dao.MonitorSteadyAlarmMonthMapper">
  <resultMap id="BaseResultMap" type="cn.wsxiot.bean.MonitorSteadyAlarmMonth">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="monitor_id" jdbcType="VARCHAR" property="monitorId" />
    <result column="statistics_month" jdbcType="VARCHAR" property="statisticsMonth" />
    <result column="frequency_deviation_alarm" jdbcType="INTEGER" property="frequencyDeviationAlarm" />
    <result column="voltage_deviation_alarm" jdbcType="INTEGER" property="voltageDeviationAlarm" />
    <result column="harmonic_voltage_alarm" jdbcType="INTEGER" property="harmonicVoltageAlarm" />
    <result column="harmonic_current_alarm" jdbcType="INTEGER" property="harmonicCurrentAlarm" />
    <result column="inter_harmonic_voltage_alarm" jdbcType="INTEGER" property="interHarmonicVoltageAlarm" />
    <result column="three_phase_vol_imbalance_alarm" jdbcType="INTEGER" property="threePhaseVolImbalanceAlarm" />
    <result column="negative_sequence_cur_alarm" jdbcType="INTEGER" property="negativeSequenceCurAlarm" />
    <result column="long_time_flicker_alarm" jdbcType="INTEGER" property="longTimeFlickerAlarm" />
    <result column="thdu_alarm" jdbcType="INTEGER" property="thduAlarm" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from s_monitor_steady_alarm_m
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.wsxiot.bean.MonitorSteadyAlarmMonth">
    insert into s_monitor_steady_alarm_m (id, monitor_id, statistics_month, 
      frequency_deviation_alarm, voltage_deviation_alarm, 
      harmonic_voltage_alarm, harmonic_current_alarm, 
      inter_harmonic_voltage_alarm, three_phase_vol_imbalance_alarm, 
      negative_sequence_cur_alarm, long_time_flicker_alarm, 
      thdu_alarm)
    values (#{id,jdbcType=INTEGER}, #{monitorId,jdbcType=VARCHAR}, #{statisticsMonth,jdbcType=VARCHAR}, 
      #{frequencyDeviationAlarm,jdbcType=INTEGER}, #{voltageDeviationAlarm,jdbcType=INTEGER}, 
      #{harmonicVoltageAlarm,jdbcType=INTEGER}, #{harmonicCurrentAlarm,jdbcType=INTEGER}, 
      #{interHarmonicVoltageAlarm,jdbcType=INTEGER}, #{threePhaseVolImbalanceAlarm,jdbcType=INTEGER}, 
      #{negativeSequenceCurAlarm,jdbcType=INTEGER}, #{longTimeFlickerAlarm,jdbcType=INTEGER}, 
      #{thduAlarm,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.wsxiot.bean.MonitorSteadyAlarmMonth">
    update s_monitor_steady_alarm_m
    set monitor_id = #{monitorId,jdbcType=VARCHAR},
      statistics_month = #{statisticsMonth,jdbcType=VARCHAR},
      frequency_deviation_alarm = #{frequencyDeviationAlarm,jdbcType=INTEGER},
      voltage_deviation_alarm = #{voltageDeviationAlarm,jdbcType=INTEGER},
      harmonic_voltage_alarm = #{harmonicVoltageAlarm,jdbcType=INTEGER},
      harmonic_current_alarm = #{harmonicCurrentAlarm,jdbcType=INTEGER},
      inter_harmonic_voltage_alarm = #{interHarmonicVoltageAlarm,jdbcType=INTEGER},
      three_phase_vol_imbalance_alarm = #{threePhaseVolImbalanceAlarm,jdbcType=INTEGER},
      negative_sequence_cur_alarm = #{negativeSequenceCurAlarm,jdbcType=INTEGER},
      long_time_flicker_alarm = #{longTimeFlickerAlarm,jdbcType=INTEGER},
      thdu_alarm = #{thduAlarm,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, monitor_id, statistics_month, frequency_deviation_alarm, voltage_deviation_alarm, 
    harmonic_voltage_alarm, harmonic_current_alarm, inter_harmonic_voltage_alarm, three_phase_vol_imbalance_alarm, 
    negative_sequence_cur_alarm, long_time_flicker_alarm, thdu_alarm
    from s_monitor_steady_alarm_m
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, monitor_id, statistics_month, frequency_deviation_alarm, voltage_deviation_alarm, 
    harmonic_voltage_alarm, harmonic_current_alarm, inter_harmonic_voltage_alarm, three_phase_vol_imbalance_alarm, 
    negative_sequence_cur_alarm, long_time_flicker_alarm, thdu_alarm
    from s_monitor_steady_alarm_m
  </select>
</mapper>